body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 30px;
}
.name-highlight{
    color: orangered;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    background-image: linear-gradient(45deg, DeepSkyBlue, teal);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 7px 14px;
    font-weight: 700;
}
h2{
    font-size: 40px;
}
.dream-highlight{
    color: rgb(233, 16, 16);
}
